VITE_UNIVERSITY_NAME_PL="Uniwersytet Kaliski"
VITE_UNIVERSITY_FULL_NAME_PL="Uniwersytet Kaliski im. Prezydenta Stanisława Wojciechowskiego"
VITE_UNIVERISTY_NAME_EN="University of Kalisz"
VITE_UNIVERSITY_FULL_NAME_EN="The President Stanisław Wojciechowski University of Kalisz"
